/* Цвет основгоно текска #212121 */
/* цвет футера фон  #2F303A */
/* мыло  телефон  футер rgba(255, 255, 255, 0.6)  адресс #FFFFFF*/
/* мыло  телефон  футер rgba(255, 255, 255, 0.6) */
/* цвет кнопок и активных ссылок при наведении #2196F3 */
:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --focus-hover-active-color: #2196F3;
    --text-footer-textbtn: #FFFFFF;
    --fon-footer-h1: #2F303A;
    --mail-tel: rgba(255, 255, 255, 0.6);
}
  /* button {  
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none; 
     } */
.link {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* разметка хедера  */
/*логотип  */


.header-list {border-bottom: 1px  solid var(--second-text-color);}
.container {margin: 0 auto; padding-left: 15px;padding-right: 15px; width: 1200px;}
.logo { margin-top: 25px; margin-bottom: 25px;
    margin-right: 93px;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo .acent-logo {
    color: var(--focus-hover-active-color);
}

.logo {
    color: var(--primary-text-color);
}

.logo-footer {
    color: var(--text-footer-textbtn);
}

.body-list {
    color: var(--primary-text-color);
}

/* навигация */
.site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current {
    color: var(--focus-hover-active-color);
}

.header-list .item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav {
    margin-left: 331px;
}

.link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.auth-nav {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav {
    padding-left: 0;
}
.nav {
    display: flex;
    align-items: center;
}
.auth-nav .link {
    color: var(--second-text-color);
}

/* btn */

.list-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

 .btn {
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--focus-hover-active-color);
    color: var(--text-footer-textbtn)
}

/* станция сортировка ))) */
.list .link-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list .descripion {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}




/* footer */

.footer {
    background-color: var(--fon-footer-h1);
}


.footer {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.link-footer .contact {
    text-decoration: none;
}

.map :first-child {
    color: var(--text-footer-textbtn);
}

.ct .contact {
    color: var(--second-text-color)
}

.link :last-child {
    color: var(--mail-tel);
    text-decoration: none;
}
.footer-list {
    font-style: initial;
    margin-top: 20px;
    margin-bottom: 0;
}
.footer .map {
    color: var(--text-footer-textbtn)
}





/* студия  */
/* btn */
.text-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {padding-top: 94px; padding-bottom: 94px; padding-left: 0; padding-right: 0;}
.hero .btn {margin-left: auto; margin-right: auto;}
.text-hero {margin-top: 0; margin-bottom: 30px;}
.section-btn .btn {
    cursor: pointer;
}
.section .hero {
    background-color: var(--fon-footer-h1);
}


.text-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-footer-textbtn)
}

.section .btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-footer-textbtn);
    background-color: var(--focus-hover-active-color);
}



/* benefits */
/* .list .benefits {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
} */
.container .benefits {display: flex;}

 .text-section {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
   
}

.list .subject {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list .subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* team */
.team .team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.list .descripion {
    font-family: 'Roboto';
    
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}